<!doctype html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <script src="{{url_for('static', filename='scripts/app.js')}}"></script>
    <title>Sudoku</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sudoku</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="content-wrapper">
        <div class="game">
            <div class="game-wrapper">
                <div class="sudoku-wrapper">
                    <div class="main-sudoku">
                        <table class="sudoku-table">
                            <tbody>
                                <tr class="sudoku-row">
                                    <td class="sudoku-cell left-cell" id="cell00"></td>
                                    <td class="sudoku-cell" id="cell01"><span></span></td>
                                    <td class="sudoku-cell" id="cell02"></td>
                                    <td class="sudoku-cell" id="cell03"></td>
                                    <td class="sudoku-cell" id="cell04"></td>
                                    <td class="sudoku-cell" id="cell05"></td>
                                    <td class="sudoku-cell" id="cell06"></td>
                                    <td class="sudoku-cell" id="cell07"></td>
                                    <td class="sudoku-cell" id="cell08"></td>
                                </tr>
                                <tr class="sudoku-row">
                                    <td class="sudoku-cell left-cell" id="cell10"></td>
                                    <td class="sudoku-cell" id="cell11"></td>
                                    <td class="sudoku-cell" id="cell12"></td>
                                    <td class="sudoku-cell" id="cell13"></td>
                                    <td class="sudoku-cell" id="cell14"></td>
                                    <td class="sudoku-cell" id="cell15"></td>
                                    <td class="sudoku-cell" id="cell16"></td>
                                    <td class="sudoku-cell" id="cell17"></td>
                                    <td class="sudoku-cell" id="cell18"></td>
                                </tr>
                                <tr class="sudoku-row">
                                    <td class="sudoku-cell left-cell" id="cell20"></td>
                                    <td class="sudoku-cell" id="cell21"></td>
                                    <td class="sudoku-cell" id="cell22"></td>
                                    <td class="sudoku-cell" id="cell23"></td>
                                    <td class="sudoku-cell" id="cell24"></td>
                                    <td class="sudoku-cell" id="cell25"></td>
                                    <td class="sudoku-cell" id="cell26"></td>
                                    <td class="sudoku-cell" id="cell27"></td>
                                    <td class="sudoku-cell" id="cell28"></td>
                                </tr>
                                <tr class="sudoku-row">
                                    <td class="sudoku-cell left-cell" id="cell30"></td>
                                    <td class="sudoku-cell" id="cell31"></td>
                                    <td class="sudoku-cell" id="cell32"></td>
                                    <td class="sudoku-cell" id="cell33"></td>
                                    <td class="sudoku-cell" id="cell34"></td>
                                    <td class="sudoku-cell" id="cell35"></td>
                                    <td class="sudoku-cell" id="cell36"></td>
                                    <td class="sudoku-cell" id="cell37"></td>
                                    <td class="sudoku-cell" id="cell38"></td>
                                </tr>
                                <tr class="sudoku-row">
                                    <td class="sudoku-cell left-cell" id="cell40"></td>
                                    <td class="sudoku-cell" id="cell41"></td>
                                    <td class="sudoku-cell" id="cell42"></td>
                                    <td class="sudoku-cell" id="cell43"></td>
                                    <td class="sudoku-cell" id="cell44"></td>
                                    <td class="sudoku-cell" id="cell45"></td>
                                    <td class="sudoku-cell" id="cell46"></td>
                                    <td class="sudoku-cell" id="cell47"></td>
                                    <td class="sudoku-cell" id="cell48"></td>
                                </tr>
                                <tr class="sudoku-row">
                                    <td class="sudoku-cell left-cell" id="cell50"></td>
                                    <td class="sudoku-cell" id="cell51"></td>
                                    <td class="sudoku-cell" id="cell52"></td>
                                    <td class="sudoku-cell" id="cell53"></td>
                                    <td class="sudoku-cell" id="cell54"></td>
                                    <td class="sudoku-cell" id="cell55"></td>
                                    <td class="sudoku-cell" id="cell56"></td>
                                    <td class="sudoku-cell" id="cell57"></td>
                                    <td class="sudoku-cell" id="cell58"></td>
                                </tr>
                                <tr class="sudoku-row">
                                    <td class="sudoku-cell left-cell" id="cell60"></td>
                                    <td class="sudoku-cell" id="cell61"></td>
                                    <td class="sudoku-cell" id="cell62"></td>
                                    <td class="sudoku-cell" id="cell63"></td>
                                    <td class="sudoku-cell" id="cell64"></td>
                                    <td class="sudoku-cell" id="cell65"></td>
                                    <td class="sudoku-cell" id="cell66"></td>
                                    <td class="sudoku-cell" id="cell67"></td>
                                    <td class="sudoku-cell" id="cell68"></td>
                                </tr>
                                <tr class="sudoku-row">
                                    <td class="sudoku-cell left-cell" id="cell70"></td>
                                    <td class="sudoku-cell" id="cell71"></td>
                                    <td class="sudoku-cell" id="cell72"></td>
                                    <td class="sudoku-cell" id="cell73"></td>
                                    <td class="sudoku-cell" id="cell74"></td>
                                    <td class="sudoku-cell" id="cell75"></td>
                                    <td class="sudoku-cell" id="cell76"></td>
                                    <td class="sudoku-cell" id="cell77"></td>
                                    <td class="sudoku-cell" id="cell78"></td>
                                </tr>
                                <tr class="sudoku-row">
                                    <td class="sudoku-cell bot-cell left-cell" id="cell80"></td>
                                    <td class="sudoku-cell bot-cell" id="cell81"></td>
                                    <td class="sudoku-cell bot-cell" id="cell82"></td>
                                    <td class="sudoku-cell bot-cell" id="cell83"></td>
                                    <td class="sudoku-cell bot-cell" id="cell84"></td>
                                    <td class="sudoku-cell bot-cell" id="cell85"></td>
                                    <td class="sudoku-cell bot-cell" id="cell86"></td>
                                    <td class="sudoku-cell bot-cell" id="cell87"></td>
                                    <td class="sudoku-cell bot-cell" id="cell88"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="number-tray">
                    <table class="number-tray-table">
                        <tbody>
                            <tr class="number-tray-row">
                                <td class="number-tray-cell">1</td>
                                <td class="number-tray-cell">2</td>
                                <td class="number-tray-cell">3</td>
                                <td class="number-tray-cell">4</td>
                                <td class="number-tray-cell">5</td>
                                <td class="number-tray-cell">6</td>
                                <td class="number-tray-cell">7</td>
                                <td class="number-tray-cell">8</td>
                                <td class="number-tray-cell">9</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="buttons">
                    <input class="btn btn-primary" type="button" id="solve-button" value="Solve! ">
                    <input class="btn btn-primary" type="button" id="generate-button" value="Generate">
                    <input class="btn btn-primary" type="button" id="clue-button" value="❔">
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>